@import 'src/shared/styles/colors';

.wrapper {
    position: relative;
}

.daysList {
    display: flex;
    align-items: center;
    gap: 14px;
    overflow: hidden;
    overflow-x: scroll;
    height: 127px;

    // hiding scrollbar
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.dayItem {
    height: 100px;
    width: 60px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    background-color: $gray4;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: height 0.2s;
    flex-shrink: 0;

    // dayItem_title
    &_title {
        color: $white;
        transition: color 0.2s;
    }

    // dayItem_subtitle
    &_subtitle {
        color: $white;
        opacity: 0.5;
        transition: color 0.2s;
    }

    // dayItem__active
    &__active {
        height: 127px;
    }

    // dayItem__active dayItem_title
    &__active &_title {
        color: $black;
    }

    // dayItem__active dayItem_subtitle
    &__active &_subtitle {
        color: $black;
        opacity: 0.5;
    }
}

.overlay {
    background: linear-gradient(270deg, $gray6 40%, rgba(255, 255, 255, 0) 100%);
    height: 127px;
    pointer-events: none;
    position: absolute;
    width: 70px;
    top: 0;
    z-index: 7;
    transition: opacity 0.2s;
}
