.h1 {
    font-size: 30px;
    line-height: 38px;
}

.h2 {
    font-size: 24px;
    line-height: 32px;
}

.h3 {
    font-size: 18px;
    line-height: 24px;
}

.body1 {
    font-size: 16px;
    line-height: 20px;
}

.body2 {
    font-size: 14px;
    line-height: 18px;
}

.caption {
    font-size: 13px;
    line-height: 16px;
}

.regular {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.bold {
    font-weight: 700;
}
