$white: #ffffff;
$black: #000000;

$gray1: #d2d2d2;
$gray2: #bcbcbc;
$gray3: #808080;
$gray4: #333333;
$gray5: #1d1d1d;
$gray6: #0a0a0a;

$blue: #6373f7;
$red: #ff6b6b;
$pink: #febd93;
$orange: #ffc83f;
$green: #76ef83;
$aqua: #91e0fe;
