@import 'src/shared/styles/colors';

.wrapper {
    padding: 0 30px;
    background-color: $gray6;
}

.tasksInfo {
    display: flex;
    align-items: center;

    // tasksInfo_title
    &_title {
        margin-left: 18px;
    }

    // tasksInfo_button
    &_button {
        margin-left: auto;
    }

    @media (max-width: 360px) {
        // tasksInfo_title
        &_title {
            display: none;
        }
    }
}
