@import 'src/shared/styles/colors';

.button {
    height: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    outline: none;
    border: none;
    transition:
        background-color 0.2s,
        box-shadow 0.2s;
    cursor: pointer;
    font-family: inherit;
    font-style: inherit;

    // button__primary
    &__primary {
        color: $white;
        background-color: $gray6;

        @media (hover: hover) {
            &:hover {
                background-color: $gray4;
            }
        }

        &:active {
            background-color: $black;
        }

        &:disabled {
            cursor: not-allowed;
            background-color: $gray4;
            opacity: 0.5;
        }
    }

    // button__secondary
    &__secondary {
        color: $gray6;
        background-color: $white;

        @media (hover: hover) {
            &:hover {
                background-color: $gray1;
            }
        }

        &:active {
            background-color: $white;
        }

        &:disabled {
            cursor: not-allowed;
            background-color: $gray1;
            opacity: 0.5;
        }
    }

    // button__small
    &__small {
        padding: 12px 18px;
        border-radius: 30px;
    }

    // button__medium
    &__medium {
        padding: 14px 22px;
        border-radius: 40px;
    }

    // button__large
    &__large {
        padding: 18px 26px;
        border-radius: 50px;
    }
}
