@import 'src/shared/styles/colors';

.wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: text;
    width: fit-content;
}

.input {
    border: none;
    padding: 10px 16px;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: $gray2;
    //caret-color: $primary3;

    &::placeholder {
        color: $gray4;
    }

    &:focus {
        outline: none;
    }
}
