@import 'src/shared/styles/colors';

.wrapper {
    background-color: $gray6;
    padding: 40px 30px 30px 30px;
    display: flex;
    align-items: center;
}

.welcomeBlock {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: 18px;
}
